<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.movie.mapper.WebsiteCustomMapper">
    <resultMap id="BaseResultMap" type="com.demo.movie.model.Website">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <!--根据条件分页查询网站信息-->
    <select id="list" resultMap="BaseResultMap">
        select
        id,
        name,
        url
        from website
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="url != null and url != ''">
                and url like concat('%', #{url}, '%')
            </if>
        </where>
    </select>
    <!--查询符合条件的电影数-->
    <select id="queryTotalCount" resultType="int">
        select count(1)
        from website
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="url != null and url != ''">
                and url like concat('%', #{url}, '%')
            </if>
        </where>
    </select>
</mapper>